body {
    font-family: 'Montserrat', sans-serif;
    background: #313234;
}

.navbar {
    font-size: 0.8em;
}

.language-css{
    background: #F8F9FA;
    border-radius: 2px;
}

.code-css {
    background: #F8F9FA;
    border-left: solid 10px #018AB7;
    border-right: solid 10px #018AB7;
    border-radius: 10px;
}

.language-html {
    background: #F8F9FA;
    border-radius: 2px;
}

.code-html {
    background: #F8F9FA;
    border-left: solid 10px #EE5D23;
    border-right: solid 10px #EE5D23;
    border-radius: 10px;
    
}

.flexpart{
    border-left: 1px;
    border-left-color: white;
    border-left-style: groove;
}

/*Footer CSS*/
.footer-top { 
    padding: 10px 0; 
    background: #333; 
    text-align: left; 
    color: #aaa; 
}

.footer-about img.logo-footer { 
    max-width: 35px; 
    margin-top: 0; 
    margin-bottom: 5px;
}

.footer-contact p { word-wrap: break-word; }











