body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    background: #313234;
}

p{
    margin-bottom:0px;
}

.divjq {
    border: solid 2px #F4F5F6;
    color: #EEEEEE;
    font-size: 1em;
    text-align: center;
    padding-bottom:15px;
    border-radius: 5px;
}

#container {
    width:100%;
    border: solid 2px #050505;
    border-radius: 5px;
    color: #EEEEEE;
    padding: 3px;
    line-height: 1em;
}

input {
    max-width: 50px;
    
}

.divs {
    width:35px;
}

.input-group-text {
    display: inline;
    width: 280px;
    font-size: 1em;
    padding-right:0px;
}

.btn-black {
    background-color: #050505;
    border-radius: 0px 20px 20px 0px;
}

.h1 {
    /margin:0px;
}

#menu-toggle {
    position: fixed;
    z-index: 2;
}
