body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color:white;
    /margin: auto 0;
    /padding: 0px 50px;
    /height:400px;
    background: #313234;
}

#commands {
    color:black;
    /*border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #323232;
    border-radius: 0px;*/
}

.divjq select {
    width: auto;
}

.divjq {
    border: solid 2px;
    color: #EEEEEE;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
}

#menu-toggle{
    position: fixed;
    z-index: 2;
}

#container {
    width:900px;
    height:550px;
    border: solid 2px #050505;
    color: #EEEEEE;
    font-size: 1em;
    border-radius: 5px;
    
}

input {
    max-width: 50px;
    
}

/.input-group-text {
    
    /padding: 7px;
}

.divs {
    width:35px;
}

.input-group-text {
    display: inline;
    width: 280px;
    font-size: 1em;
    padding-right:0px;
}

img {
    width:50px;
    height:auto;
    margin-right: 20px;
}

.btn-black {
    background-color: #050505;
    border-radius: 0px 20px 20px 0px;
}
